div class="card">
  <div class="card-header">
    <h4><a class="link" href="/job/{{id}}">{{title}}</a></h4>
    <p>Added by {{user.username}} on {{format_date created_at}}</p>
  </div>
  <p class="card-body">{{description}}</p>
</div>